.app-wrapper *{
  background-color:blue;
 
} 
.app-wrapper{
  
  display: grid;
  grid-template-columns:200px 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-gap:5px;
  grid-template-areas:
  "header header"
  "aside main"
  "footer footer";
}
.header{
  grid-area: header;
  background-color: blueviolet;
}
.main{
  grid-area: main;
}
.aside{
  grid-area: aside;
}
.footer{
  grid-area: footer;
  background-color: #282c34;
}


